<h1>Welcome, Sign-in</h1>
<form action="/sign_in" method="post">
  
  
</form>

<p>Not signed up?</p>
<form action="/sign_up" method="post">
  <p>name:</p>
  <input type="text" name="name">
  <p>email:</p>
  <input type="text" name="email">
  <p>password:</p>
  <input type="text" name="password">
  <p>password_confirmation:</p>
  <input type="text" name="password_confirmation">
  <input type="submit" value="Sign up">
</form>